
.section-nav{
  padding: 2rem 2rem;
}
.button-filled{
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 12px 25px;
  background-color: #1CB5BD; 
  color: #fff; 
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  font-family: "Manrope", sans-serif;
}
.button-outlined{
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 12px 25px;
  background-color: #FFF; 
  border: 1px solid #1CB5BD;
  color: #111; 
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  font-family: "Manrope", sans-serif;
}
ul {
  list-style: none;
 }
 
 a {
  text-decoration: none;
 }